node_modules
__pycache__
fasttreeshap.egg-info
*.pyc
/build
/dist
/fasttreeshap/cached_data
notebooks/local_scratch
.ipynb_checkpoints
.eggs
javascript/build/*
.vscode
.DS_Store
/fasttreeshap/_cext*
.idea
catboost_info
tests/local_scratch.py
tests/mnist_data
**/.coverage*
